.postCardContainer{
    width: 500px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 200px;
    border-radius: 8px;
    padding: 15px;
    background-color: var(--primary-background);
}
.postCardHeadContainer{
    width: 480px;
    height: 48px;
    /* border: 1px solid black; */
    
}
.postCardHeadBox1{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--primary-1);
}
.postCardHeadBox1>img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    
}
.postCardHeadBox2{
    font-size: 15px;
    font-weight: 500;
    color: var(--primary-text);
    width: 348px;
    text-align: left;
    margin-left: 10px;
    margin-top: -10px;
}
.postCardHeadBox2>div{
    margin-top: 150px;
}

.postCardHeadBox3{
    width: 36px;
    height: 36px;
    padding-top: 10px;
    margin-left: 10px;
}