.postCardContainer{
    max-width: 676px;
    min-width: 400px;
    width: 80%;
    margin: auto;
    border-radius: 8px;
    background-color: var(--primary-background);
    box-shadow:0 1px 2px var( --shadow-2);
    text-align: left;
}
.postCardHeadContainer{
    padding: 0 15px;
    
}
.postCardHeadBox1>img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2px var(--white), 0px 0px 0px 4px var(--primary-1);
    margin: 0 10px;
    margin-top: 10px;
    margin-left: 0;
    cursor: pointer;
    
}

.postCardHeadBox2{
    color: var(--primary-text);
    flex:1;
    text-align: left;
    flex-direction: column;
   
}
.postCardHeadBox2 strong{
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}
.postCardHeadBox2 strong:hover{
    text-decoration: underline;
   
}
.postCardHeadBox2 span{
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}
.postCardHeadBox2 span:hover{
    text-decoration: underline;
   
}

.postCardHeadBox3{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
}
.postCardHeadBox3:hover {
    background: var(--hover-overlay);
}
.postCardTags{
    font-size: 15px;
    line-height: 1.3333;
    color: var(--primary-text);
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 15px;
}
.postCardImage img{
    width: 100%;
}
.postCardLike{
    justify-content: space-between;
    margin: 5px 15px;
}
.postCardLike p{
    font-size: 14px;
    color: var(--secondary-icon);
    cursor: pointer;
   
}
.postCardLike p:hover{
    text-decoration: underline;
   
}
.postCardLike svg{
    width: 18px;
    height: 18px;
    fill: var(--white);
    margin: 5px;
    cursor: pointer;
}

.postCardFooter {
    justify-content: space-around;
    margin: 0 15px;
    border-top: 1px solid var( --secondary-text);
   
}
.postCardFooterBox{
    width: 30%;
    margin: 2px 0;
}
.postCardFooterBox:hover{
    background: var(--hover-overlay);
    border-radius: 2px;
    width: 30%;
}

.postCardFooter svg{
    width: 18px;
    height: 18px;
    fill: var(--secondary-icon);
    margin: 5px;
    cursor: pointer;
    
    
}
.postCardFooter p{
    color: var(--secondary-icon);
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
}
.postCardCommentContainer{
    margin: 0px 15px 10px 15px;
    border-top: 1px solid var( --secondary-text);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    
}
.postCardCommentContainer p{
    font-weight: 500;
    color: var(--secondary-text);
    font-size: 14px;
    cursor: pointer;
    
    
}
.postCardCommentContainer p:hover{
    text-decoration: underline;
   
}
.postCardInputBox{
    width: 100%;
    justify-content: left;
    margin: 2px 0;
    justify-content: flex-start;
    align-items: flex-start;
  
}
.postCardInputBox img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.addComment{
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.addComment small{
    color: var(--primary-text);
    font-size: 10px;
    
}
.addCommentBox{
    border-radius: 10px;
    padding: 5px 10px;
    max-width: 85%;
    min-width: 100px;
    background-color: var(--secondary-background-1);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    

}
.addCommentBox>strong{
    font-size:12px ;
    font-weight: 600;
    color: var(--primary-text);
    cursor: pointer;
}
.addCommentBox>strong:hover{
    text-decoration: underline;
}
.addCommentBox>small{
    font-size: 14px;
    width: 100%;
    color: var(--primary-text);
    word-break: break-all;
    display: -webkit-box;
    word-wrap:break-word;
    cursor: pointer;
    
}
.postCardCommentLikeandReply>small{
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;

}
.postCardCommentLikeandReply>small:hover{
    text-decoration: underline;

}


.commentInput{
    flex:1;
    border-radius: 25px;
    height: 36px;
    padding: 0 10px;
    width: 100%;
    background-color: var(--secondary-background-1);
    
}
.commentInput input{
    border: 0px;
    background: transparent;
    flex:1;
    padding: 8px;
    font-size: 14px;
    
    
}

.commentInput svg{
    fill:var(--secondary-icon);
    width: 20px;
    height: 20px;
    padding: 2px;
}

@media only screen and (max-width: 992px) {
    .postCardContainer{
        max-width: 500px;
       
    }

    
}
