.postsPageMainContainer {
    max-width: 875px;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.postsPageIntroComponentContainer {
    max-width: 362px;
    width: 100%;
}

.postsPagePostsComponentContainer {
    overflow: auto;
}

/* User Profile Intro Component CSS */

.postsPageIntroMainContainer {
    width: 100%;
    text-align: left;
}

.postsPageUserDetailsContainer {
    margin: 14.5px 4px 0 0;
    padding: 10px 14px;
    border-radius: 6px;
    background-color: var(--primary-background);
}

.postsPageUserDetailsNamePlate {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--primary-text);
}

.postsPageUserDetailsInfoBox {
    flex-direction: column;
    align-items: flex-start;
}

.postsPageUserDetalisCoverBox {
    margin: 8px 0;
}

.postsPageUserDetailsInfoIcon {
    width: 24px;
    height: 24px;
    margin-right: 11px;
    vertical-align: middle;
    filter: var(--filter-placeholder-icon);
}

.postsPageFriendsNameBox {
    justify-content: space-between;
}

.postsPageLinkToFriendsPage {
    text-decoration: none;
    padding: 8px 5px;
    border-radius: 6px;
    color: var(--primary-1);
}

.postsPageLinkToFriendsPage:hover {
    background: var(--secondary-background-1);
}

/* User Profile Posts Component CSS */


/* User Proile Page Media Queries */

@media only screen and ( max-width: 924px ) {

    .postsPageMainContainer {
        flex-direction: column;
    }
    
    .postsPageIntroComponentContainer {
        max-width: 500px;
        margin: auto;
    }
}