/* UserProfilePage Component CSS */

.userProfileContainer {
    
}

.userProfileCoverPageBox {
    height: 45vh;
    position: relative;
    background-position: 0 5%;
    background-repeat: no-repeat;
    background-size: cover;
}

.userProfileCoverPageOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: var(--nav-bar-background-gradient);
}

.userProfileCoverPhotoBox {
    max-width: 940px;
    height: 100%;
    margin: auto;
    position: relative;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.userProfileCoverPhotoBoxOverLay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 2;
    background: var(--cover-photo-over-lay-gradient);
}

.userProfileEditCoverPhotoContainer {
    max-width: 170px;
    position: absolute;
    right: 0%;
    bottom: 0%;
    border-radius: 6px;
    cursor: pointer;
    z-index: 8;
    background-color: var(--white);
    transform: translate(-20%, -40%);
}

.userProfileEditCoverPhotoBox {
    width: 100%;
    padding: 6px 5px;
    border: 3px solid transparent;
}

.userProfileEditCoverPhotoBox:active {
    border: 2px solid transparent;
}

.userProfileEditCoverCamIcon {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    vertical-align: middle;
}

.userProfileEditCoverNamePlate {
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
    vertical-align: middle;
}

.userNameContainer {
    background: var(--nav-bar-background);
    padding: 10px;
    position: relative;
}

.userNamePlate {
    font-size: 32px;
    font-weight: 600;
    line-height: 2;
}

.userProfileBioContent {
    max-width: 940px;
    margin: auto;
    padding: 0 10px 20px;
}

.addUserBio {
    position: absolute;
    color: var(--accent);
    font-size: 15px;
    font-weight: 500;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.addUserBio:hover {
    text-decoration: underline;
}

.addBoxTexFieldContainer {
    width: 320px;
    margin: auto;
}

.addBioTextField {
    width: 100%;
    min-height: 78px;
    text-align: center;
    padding: 10px 14px;
    border-radius: 6px;
    color: var(--primary-text);
    border: 1px solid var(--divider);
    outline: none;
    resize: none;
    background-color: var(--secondary-background-1);
    transform: translate(0, -5%);
}

.addBioTextField::placeholder {
    color: var(--placeholder-text);
}

.addBioTextField:focus {
    border: 1px solid var(--accent);
    background: transparent;
}

.addBioTextField:focus::placeholder {
    color: var(--disabled-button-text);
}

.addBioTextField:focus:hover {
    background-color: var(--secondary-background-3);
}

.addBioTextField:hover {
    background: var(--hover-overlay-2);
}

.addBioTextFieldCharCount {
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 8px;
    justify-content: flex-end;
    color: var(--secondary-text);
}

.addBioTextFieldEmojiMart {
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}

.addBioEmojiContainer {
    width: auto;
    height: auto;
    position: absolute;
    z-index: 25;
    top: 0;
    right: 50%;
    border-radius: 4px;
    background-color: var(--primary-background);
    transform: translate(10%, 7%);
    box-shadow: 0 0 20px 10px var( --shadow-2);
}

.addBioEmojiContainer .emoji-mart {
    border: none !important;
}

.addBioEmojiContainer .emoji-mart-scroll {
    background-color: transparent !important;
    padding: 0 !important;
}

.addBioEmojiContainer .emoji-mart-bar {
    background-color: transparent !important;
}

.addBioEmojiContainer::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: -7px;
    right: 17px;
    border-top: 1px solid var(--shadow-1);
    border-left: 1px solid var(--shadow-1);
    transform: rotate(45deg);
    background-color: var(--primary-background);
}

.addBioTextFieldEmojiMart .emojiIcon {
    width: 20px;
    height: 20px;
    fill: var(--primary-icon);
}

.addBioButtonContainer {
    justify-content: space-between;
}

.addBioGlobeIcon {
    width: 27px;
    height: 27px;
    vertical-align: middle;
    filter: invert(var(--filter-invert));
}

.addBioButtonBox button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: var(--white);
    font-weight: 600;
    outline: none;
    background-color: var(--primary-1);
}

.addBioButtonBox button:first-child {
    margin: 0 5px;
    color: var(--primary-text);
    background-color: var(--secondary-background-1);
}

.addBioButtonBox button:first-child:hover {
    background-color: var(--hover-overlay-2);
}

.addBioButtonBox button:last-child:hover {
    background-color: var(--primary-button-hover);
}

.addBioButtonBox button:disabled {
    cursor:not-allowed;
    color: var(--disabled-button-text);
    background-color: var(--hover-overlay-2);
}

.addBioButtonBox button:disabled:hover {
    background-color: var(--hover-overlay-2);
}

/* UserProfilePicture Component CSS */

.userProfilePictureContainer {
    width: 180px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, 10%);
}

.userProfilePictureBox {
    height: 180px;
    cursor: pointer;
    border: 4px solid var(--nav-bar-background);
}

.userProfilePicture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.userProfilePictureBox:active {
    border: 8px solid var(--nav-bar-background);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.userProfilePictureCameraIconBox {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--secondary-background-1);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(110%, -20%);
}

.userProfileCameraIcon {
    width: 75%;
    height: 75%;
    filter: invert(var(--filter-invert));
    transform: translate(4%, 18%);
}

.userProfilePicEditOptionsBox button {
    padding: 7px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: var(--white);
    background-color: var(--primary-4);
    transition: all 0.2s ease-in-out;
}

.userProfilePicEditOptionsBox button:hover {
    background-color: var(--primary-1);
}

.userProfilePicEditOptionsBox button:disabled {
    cursor: not-allowed;
    color: var(--disabled-button-text);
    background-color: var(--hover-overlay-2);
}

.editProfilePicModalContainer {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 30;
    display: grid;
    place-items: center;
    background: var(--shadow-9);
}

.editProfilePicModalBox {
    max-width: 500px;
    min-height: 200px;
    position: relative;
    width: 100%;
    border-radius: 10px;
    background-color: var(--primary-background);
}

.editProfilePicModalHeader {
    padding: 20px;
    border-bottom: 1px solid var(--divider);
}

.editProfilePicModalHeaderNamePlate {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    vertical-align: middle;
}

.editProfilePicModalCloseIconBox {
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
    background-color: var(--hover-overlay);
}

.editProfilePicModalCloseIconBox:hover {
    background-color: var(--hover-overlay-2);
}

.editProfilePicModalCloseIconBox .closeIcon {
    stroke: var(--secondary-icon);
}

.editUserProfileForm {
    width: 100%;
    padding: 10px 0;
    align-items: flex-start;
    flex-direction: column;
}
.editUserProfileForm label {
    padding: 10px 3px 0;
    font-size: 14px;
}

.editUserProfileForm div {
    width: 100%;
}

.editUserProfileForm input, .editUserProfileForm select {
    width: 100%;
    margin: 2px 0;
    padding: 12px 10px;
    border-radius: 6px;
    outline: none;
    cursor:text;
    border: 1px solid var(--shadow-1);
    background-color: var(--primary-background);
}

.editUserProfileForm select {
    cursor: pointer;
}

.editUserProfileForm input:focus {
    transition: all 0.4s ease-in-out;
    border: 1px solid var(--primary-1);
}

.errorUserDetailsForm {
    min-height: 0;
    margin: 2px auto;
    padding: 4px 0;
    border-radius: 6px;
    border: 1px solid red;
}

.errorUserDetailsForm p {
    font-size: 14px;
    color: red;
}

.profilePicPreviewContainer {
    padding: 0 30px;
    overflow: hidden;
    position: relative;
}

.profilePicPreviewNoteBox {
    min-height: 200px;
}

.profilePicPreviewImage {
    width: 100%;
    max-height: 400px;
}

.profilePicPreviewImage img {
    width: 100%;
}

.profilePicPreviewCloseIconBox {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
    background-color: var(--secondary-background-3);
    transform: translate(-150%, 50%);
}

.profilePicPreviewCloseIconBox:hover {
    background-color: var(--hover-overlay);
}

.profilePicPreviewCloseIconBox .closeIcon {
    width: 20px;
    height: 20px;
    stroke: var(--secondary-icon);
}

.profilePicPreviewCloseIconBox .closeIcon:hover {
    stroke: red;
}

.errorCoverPicMessage {
    width: 90%;
    min-height: 0;
    margin: 10px auto;
    padding: 6px 0;
    position: absolute;
    top: 50%;
    border-radius: 6px;
    border: 1px solid red;
}

.errorCoverPicMessage p {
    font-size: 14px;
    color: red;
}

.chooseProfilePicInputContainer {
    border-top: 1px solid var(--divider);
    padding: 20px;
    justify-content: flex-end;
    transition: all 0.2s ease-in-out;
}

.chooseProfilePicInputBox {
    width: 100px;
    margin-right: 20px;
}

.chooseProfilePicInputBox label {
    padding: 5px 7px;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--primary-4);
}

.chooseProfilePicInputBox label {
    background-color: var(--primary-1);
}

/* UserProfileNavBar Component CSS */

.userProfileNavBarContainer {
    position: sticky;
    top: calc(var(--navBar-height) - 9px);
    z-index: 20;
    background-color: var(--nav-bar-background);
}

.userProfileNav {
    max-width: 875px;
    margin: auto;
    padding: 3px 0 0;
    background: var(--nav-bar-background);
    border-top: 1px solid var(--divider);
    justify-content: space-between;
}

.userProfileNavMenuContainer {
    flex: 1;
    height: 60px;
    margin-right: 20px;
    justify-content: left;
}

.userProfileNavMenuNameBox {
    padding: 18px 15px;
    border-radius: 6px;
    border-bottom: 3.5px solid var(--nav-bar-background);
    text-decoration: none;
    cursor: pointer;
}

.userProfileNavMenuName {
    font-size: 15px;
    font-weight: 500;
    color: var(--secondary-text);
}

.userProfileNavMenuName.active {
    padding: 18px 15px;
    color: var(--primary-1);
    border-bottom: 3.5px solid var(--primary-1);
    text-decoration: none;
}

.userProfileNavMenuFriendsCount {
    font-size: 12px;
    font-weight: 400;
    margin-left: 5px;
    color: var(--secondary-text);
}

.userProfileNavMenuNameBox:hover {
    background: var(--secondary-background-1);
}

.userProfileMoreOptions {
    position: relative;
    display: none;
}

.userProfileMoreOptionsItemContainer {
    display: none;
    width: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    flex-direction: column;
    align-items:flex-start;
    border-radius: 5px;
    background: var(--nav-bar-background);
    transform: translate(0, 102%);
}

.userProfileMoreOptionsItemContainer > a {
    width: 100%;
    border-radius: 5px;
    padding: 6px 10px;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
    color: var(--primary-text);
    transition: all 0.3s ease-in-out;
}

.MoreOptionsItemBox {
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-text);
}

.userProfileMoreOptionsItemContainer > a:hover {
    background-color: var(--hover-overlay);
}

.userProfileNavMenuNameBox .downArrowIcon {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-left: 5px;
    fill: var(--secondary-text)
}

.userProfileNavButton {
    margin-right: 8px;
    padding: 8px 11px;
    border-radius: 6px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.userProfileNavButtonIcons {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    filter: invert(var(--filter-invert));
}

.userProfileNavButtonIconsFilter {
    filter: invert(100%);
}

.userProfileNavButton .messgeIcon {
    margin-right: 4px;
    fill: var(--primary-icon);
}

.addToStoryContainer {
    position: relative;
    background-color: var(--primary-1);
}

.addToStoryContainer:hover {
    background-color: var(--primary-button-hover);
}

.addToStoryContainer span {
    color: var(--white);
    font-size: 15px;
    font-weight: 600;
}

.editProfileContainer {
    background-color: var(--secondary-background-1);
}

.editProfileContainer:hover {
    background-color: var(--hover-overlay-2);
}

.editProfileContainer span {
    color: var(--primary-text);
    font-weight: 500;
}

.userProfileNavDotsBox {
    width: 50px;
    cursor: pointer;
    padding: 8px 11px;
    border-radius: 6px;
    background-color: var(--secondary-background-1);
}

.userProfileNavDotsBox:hover {
    background-color: var(--hover-overlay-2);
}

.userProfileNavDotsBox .dotsIcon {
    vertical-align: middle;
}

.userProfileNavDotsBox path {
    fill: var(--primary-text);
}

.userProfileNavAfterScrollBox {
    padding: 9px 7px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.userProfileNavAfterScrollBox:hover {
    background-color: var(--hover-overlay);
}

.userProfileNavAfterScrollProfileImage {
    width: 38px;
    height: 38px;
    margin-right: 10px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.userProfileNavAfterScrollNamePlate {
    font-weight: 500;
    color: var(--primary-text);
}

.confirmFriendRequestContainer {
    max-width: 875px;
    width: 100%;
    margin: 14.5px auto 0;
    padding: 10px 15px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-background);
}

.confirmFriendRequestHeading {
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-text);
}

.confirmFriendRequestHeading span {
    font-size: 18px;
    font-weight: 600;
}

.confirmRequestColor {
    color: var(--white);
}

.messageLoading {
    width: 119px;
    height: 37px;
    padding: 8px 11px;
    position: relative;
}

.showUnfriendOptionToggler {
    position: relative;
}

.showUnfriendOptionContainer {
    position: absolute;
    top: 100%;
    padding: 8px;
    z-index: 40;
    border-radius: 6px;
    transform: translate(38%, 15%);
    border: 1px solid var(--shadow-1);
    background-color: var(--secondary-background-1);
}

.showUnfriendOptionContainer::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: -9px;
    right: 15px;
    border-left: 1px solid var(--shadow-1);
    border-top: 1px solid var(--shadow-1);
    transform: rotate(45deg);
    background-color: var(--secondary-background-1);
}

.unfriendOptionBox {
    padding: 2px;
    cursor: pointer;
}

.unfriendOptionBoxImage {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    filter: invert(var(--filter-invert));
}

.unfriendOptionBoxNamePlate {
    font-size: 14px;
}

/* Unfriend Modal CSS */

.unfriendModalNamePlate {
    flex-grow: 1;
    font-size: 25px;
    font-weight: 500;
}

.unfriendModalWarningTextBox {
    padding: 30px 0;
}

.unfriendModalWarningTextPlate {
    font-size: 16px;
    line-height: 3;
    font-weight: 500;
    word-spacing: 2px;
}

.unfriendModalConfirmationButtonBox {
    justify-content: center;
    padding: 15px 0;
}

.unfriendModalConfirmationButtonBox button {
    margin-right: 15px;
    font-size: 18px;
    padding: 6px 25px;
    border: none;
    outline: none;
    border-radius: 6px;
}

.unfriendModalConfirmationButtonBox button:first-child {
    background-color: var(--supplementary-1);
}

.unfriendModalConfirmationButtonBox button:first-child:hover {
    background-color: red;
}

.unfriendModalConfirmationButtonBox button:last-child {
    background-color: var(--primary-4);
}

.unfriendModalConfirmationButtonBox button:last-child:hover {
    background-color: var(--primary-1);
}

/* UserProfile Media Queries */

@media only screen and ( max-width: 950px ) {

    .confirmFriendRequestContainer {
        display: grid;
        justify-content: center;
    }

    .confirmFriendRequestHeading {
        padding-bottom: 10px;
    }

}

@media only screen and ( max-width: 840px ) {
    
    /* User Profile NavBar Media Queries CSS */

    .userProfileMoreOptions {
        display: block;
    }

    .hideUserProfileMenuItem {
        display: none;
    }

    .userProfileMoreOptionsItemContainer {
        display: flex;
    }
}

@media only screen and ( max-width: 600px ) {

    /* User Profile Page Media Queries CSS */

    .userProfileEditCoverNamePlate {
        display: none;
    }

    /* User Profile NavBar Media Queries CSS */

    .addToStoryContainer span, .editProfileContainer span {
        display: none;
    }

    .showUnfriendOptionContainer {
        right: 39%;
    }
    
    .messageLoading {
        width: 47px;
    }

}