.sideBarContainer {
    min-width: 200px;
    max-width: 350px;
    width: 25vw;
    padding: 10px;
}

.sideBarContentLink {
    padding: 7px;
    margin-left: 0.5%;
    text-decoration: none;
    color: var(--primary-text);
    border-radius: 4px;
    cursor: pointer;
    justify-content: left;
    transition: all 0.3s ease-in-out;
}

.sideBarContentLink:hover {
    background: var(--hover-overlay);
}

.sideBarContentUserImageBox {
    position: relative;
}

.sideBarContentImage {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin: auto;
}

.sideBarContentLabel {
    font-size: 0.9375rem;
    font-weight: 500;
    margin-left: 10px;
}

.activeContactHeader {
    margin: 1%;
    justify-content: space-between;
}

.contactHeaderTitle {
    text-align: left;
    font-weight: 500;
    color: var(--secondary-text);
}

.videoCallIcon {
    width: 20px;
    height: 20px;
    opacity: 0.6;
    vertical-align: middle;
}

.contactHeaderContentContainer {
    flex-grow: 0.1;
    justify-content: space-around;
}

.contactIconContainer {
    border-radius: 50px;
    padding: 0.3rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.contactIconContainer:hover {
    background: var(--hover-overlay);
}

.contactHeaderContentContainer .searchIcon {
    width: 19px;
    height: 19px;
    opacity: 0.6;
    vertical-align: middle;
}

.contactIconContainer .DotsIcon {
    width: 19px;
    height: 17px;
    opacity: 0.6;
    vertical-align: middle;
}