.storyMainContainer {
  background-color: transparent;
  max-width: 676px;
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
}
.mainImgContainer {
  width: 20%;
  height: 170px;
  margin: 10px 10px 10px 10px;
  border-radius: 20px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow:0 1px 5px var( --shadow-2);
}
.mainImgContainer:hover {
  transform: scale(1.03);
}
.imageMainContainer {
  width: 40px;
  height: 40px;
  position: relative;
  top: 10px;
  right: 25%;
  border-radius: 50%;
  border: 3.5px solid var(--accent);
}
.imageMainContainer:hover {
  transform: scale(1.01);
}
.pMainTag {
  position: relative;
  top: 70px;
  text-align: left;
  max-width: 60px;
  padding: 1px;
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
  color: var(--white);
  z-index: 1;
  text-shadow: 1px 1px var(--black);
}
@media only screen and (max-width: 992px) {
  .storyMainContainer {
    max-width: 500px;
  }
  .mainImgContainer {
    width: 25%;
  }
}
@media only screen and (max-width: 768px) {
  .mainImgContainer {
    width: 28%;
  }
}
