.videoPostContainer{
    display: grid;
    gap: 15px;
    padding: 10px;
    flex: 1;
    max-height: calc(100vh - var(--navBar-height));
    place-items: start;
}
.videoMainContainer{
    align-items: flex-start;
    justify-content: flex-start;
    padding:0 10px;
}
.videoMainContainer .pageNotFound{
    flex: 1;
}