.navBarContainer{
    position: sticky;
    top: 0;
    height: var(--navBar-height);
    background-color: var(--primary-background);
    box-shadow: 0px 0px 5px var(--shadow-2);
    justify-content: space-between;
    padding:0 10px;
    z-index: 999;
}
.navBarLogo .main-logoIcon{
    height: 35px;
    margin-right: 8px;
    cursor: pointer;
}
.mainLogoLetter{
    fill: var(--white)
}
.navBarSearchBox .searchIcon{
    fill: var(--secondary-icon);
    width: 20px;
    height: 20px;
}
.navBarSearchBox{
    background-color: var(--secondary-background-1);
    padding:4px 10px;
    border-radius: 50px;
}
.mainSearchIconResponse{
    display: none;
}
.searchBarBackButton{
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 5px;
    transition: all .2s ease-in-out;
}
.searchBarBackButton:hover{
    background-color: var(--secondary-background-1);
}
.searchBarBackButton svg{
    fill: var(--primary-icon);
    width: 20px;
    height: 20px;
}
.navBarSearchBox>input{
    padding: 5px;
    background-color: transparent;
    border: none;
}
.navBarSearchBox>input::placeholder{
    font-size: 14px;
}

.navBarMenu{
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    display: none;
}
.navBarMenu svg{
    fill: var(--secondary-icon);
}
.navBarMenu:hover{
    background-color: var(--secondary-background-1);
}

.navBarMainHeader{
    height: 100%;
    width: 30%;
}
.navBarMainHeader svg{
    fill: var(--secondary-icon);
    width: 30px;
    height: 100%;
}
.navBarMainHeader .active svg {
    fill: var(--primary-1);
}
.navBarMainHeader .active{  
    border-bottom: 3px solid var(--primary-1);
    height: 100%;
    width: 30%;
    cursor: pointer;
    position: relative;

}
.navBarMainHeader .iconWrapper{
    border-bottom: 3px solid transparent;
    width: 30%;
    height: 80%;
    border-radius: 8px;   
    cursor: pointer;
    position: relative;
}
.navBarMainHeader .iconWrapper:hover{
    background-color: var(--hover-overlay);  
}

.navBarUserBox svg{
    width: 20px;
    height: 20px;
    fill: var(--primary-icon);
}
.navBarUserBox .iconWrapper-2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--secondary-background-1);
    margin: 0 5px;
    position: relative;
    cursor: pointer;
}
.navBarUserBox .iconWrapper-2:hover{
    background-color: var(--hover-overlay-2);
}

.accountMenuContainer{
    position: absolute;
    min-width: 200px;
    top: 50px;
    right: 0;
    background-color: var(--primary-background);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow-1),0 8px 18px var(--shadow-2);
}
.accountMenuContainer::after{
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 12px;
    background-color: var(--primary-background);
    transform: rotate(45deg);
}
.darkModeBox{
    justify-content: space-between;
}

.themeButton{
    width: 50px;
    height: 28px;
    border-radius: 500px;
    background-color: var(--secondary-background-1);

    border: 1px solid teal;
}
.themeButtonBubble{
    background-color: var(--supplementary-3);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
}

@media only screen and (max-width: 992px) {

    .navBarSearchBoxInput{
        display: none;
        width: 150px;
    }
    .navBarSearchBox{
        padding: 10px;
        cursor: pointer;
    }
    .navBarMenu{
        display: flex;
    }
    .mainSearchIcon{
        display: none;
    }
    .mainSearchIconResponse{
        display: flex;
    }
}
@media only screen and (max-width: 768px) {
    .navBarMainHeader{
        display: none;
    }

} 