:root {
  --accent: hsl(214, 89%, 52%);
  
  --primary-1: #1877f2;
  --primary-2: rgb(134, 218, 255);
  --primary-3: rgb(95, 170, 255);
  --primary-4: rgb(0, 140, 255);

  --secondary-1: rgb(118, 62, 230);
  --secondary-2: rgb(147, 96, 247);
  --secondary-3: rgb(219, 26, 139);
  --secondary-4: #42b72a;
  --secondary-5: #32af19;
  --secondary-6: #146fe7;

  --primary-background: #fff;
  --secondary-background-1: #f0f2f5;
  --secondary-background-2: #e4e6eb;
  --secondary-background-3: #edeff1;

  --hover-overlay: rgba(0, 0, 0, 0.05);
  --media-hover: rgba(68, 73, 80, 0.15);
  --hover-overlay-2: rgba(68, 73, 80, 0.25);

  --supplementary-1: rgb(255, 122, 105);
  --supplementary-2: rgb(241, 168, 23);
  --supplementary-3: rgb(218, 218, 218);
  --supplementary-4: rgb(50, 52, 54);

  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.5);
  --shadow-7: rgba(0, 0, 0, 0.7);
  --shadow-8: rgba(0, 0, 0, 0.8);
  --shadow-9: rgb(224, 224, 224);

  --primary-icon: #050505;
  --primary-text: #050505;

  --secondary-icon: #65676b;
  --secondary-text: #65676b;

  --black: #000;
  --white: #fff;

  --navBar-height : 50px;
  --nav-bar-background: #FFFFFF;
  --nav-bar-background-gradient: linear-gradient(to top, #FFFFFF, rgba(255,255,255), rgba(255,255,255,.7), rgba(255,255,255,.4), rgba(255,255,255,0));

  --divider: #ced0d4;
  --comment-background: #f0f2f5;

  --primary-button-hover: #216FDB;
  --disabled-button-text: #bcc0c4;

  --placeholder-text: #8A8D91;
  --filter-invert: 0;
  --filter-placeholder-icon: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
}

.dark{
  --primary-background: #242526;
  --secondary-background-1: #3A3B3C;
  --secondary-background-2: #18191A;
  --secondary-background-3: #3A3B3C;

  --hover-overlay: rgba(255, 255, 255, 0.1);
  --media-hover: rgba(68, 73, 80, 0.15);
  --hover-overlay-2: rgba(255, 255, 255, 0.25);

  --supplementary-3: rgb(49, 162, 76);

  --shadow-1: rgba(252, 252, 252, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.5);
  --shadow-7: rgba(0, 0, 0, 0.7);
  --shadow-8: rgba(0, 0, 0, 0.8);
  --shadow-9: rgb(41, 41, 41);

  --primary-icon: #E4E6EB;
  --primary-text: #E4E6EB;

  --secondary-icon: #B0B3B8;
  --secondary-text: #B0B3B8;

  --nav-bar-background: #242526;
  --nav-bar-background-gradient: linear-gradient(to top, #242526, rgba(36,37,38,.9), rgba(36,37,38,.7), rgba(36,37,38,.4), rgba(36,37,38,0));

  --filter-invert: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.34;
  background-color: var(--secondary-background-2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-text);
  font-size: 16px;
  /* transition: all .3s ease-in-out; */
}
input,
button {
  outline: none;
}
